*.json filter=lfs diff=lfs merge=lfs -text
project-root/updated_workouts.json filter=lfs diff=lfs merge=lfs -text
project-root/workout_fixed.json filter=lfs diff=lfs merge=lfs -text
project-root/*.json filter=lfs diff=lfs merge=lfs -text
